/* INPUT PROFIL */

.personal-info-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.personal-info-form > div,
a,
::placeholder {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.personal-info-form .full-width {
  grid-column: 1 / -1;
}

.personal-info-div, .personal-recipe-div {
  border: 1px solid black;
  padding: 0rem 1rem 2rem 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/* TITRE ET ICONE PROFILE */

.title-personnal-info {
  display: flex;
  align-items: baseline;
}

.title-personnal-info > h1 {
  margin: 1rem;
}


/*  MES RECETTE ET BOUTON MES RECETTES */

.btn-small, {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.recipe-item {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  column-gap: 2rem;
  row-gap: 1rem;
}

.button-add-dell-recipe {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: 1rem 0rem;
  gap: 1rem;
}