.header {
  background-color: #eee3d3;
  display: flex;
  justify-content: space-between;
}

.loupe-icon {
  width: 20px;
  height: 14px;
}
.loupe-icon:hover {
  cursor: pointer;
}
.logo {
  width: 3.3rem;
  height: 3.3rem;
  object-fit: contain;
  background-color: #eee3d3;
}

.level-left {
  display: flex;
}
