@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

:root {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --background-color: #eee3d3;
  --background-footer-color: #b71818;
  --button-color: #b71818;
  --text-color: #333;
}

html {
  font-family: "Quicksand", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  margin: 0rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 1rem;
}

@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.4rem 0rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.8rem 0rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.8rem 0rem;
  }

  footer ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  li {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

/* MAIN */

.main-container {
  margin: 20% 1.5rem 50% 1.5rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1 rem;
    font-weight: 600;
    margin: 0.5rem 0rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0rem;
  }

  li {
    font-size: 1rem;
    font-weight: 600;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  /* MAIN */

  .main-container {
    margin: 5% 1.5rem 10% 1.5rem;
  }
}
