/* Dans ton fichier CSS principal */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --background-color: #eee3d3;
  --button-color: #b71818;
  --text-color: #333;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Remplace <weight> par la valeur souhaitée */
  font-style: normal;
}

input {
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

/*    BOUTON    */

.btn-color {
  background-color: var(--button-color);
  color: white;
  font-weight: 600;
  gap: 1rem;
  margin: 1rem 0rem;
}

/* MAIN */

.main-container {
  margin: 0rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6vh;
}

@media (max-width: 767px) {
  html,
  body {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
  }
  p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.4rem 0rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.8rem 0rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0.8rem 0rem;
  }

  li {
    font-size: 0.9rem;
    font-weight: 600;
  }

  strong {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
} */

@media (min-width: 768px) {
  html,
  body {
    font-family: "Quicksand", sans-serif;
  }
  p {
    font-size: 1 rem;
    font-weight: 600;
    margin: 0.5rem 0rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0rem;
    text-align: left;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin: 1rem 0rem;
  }

  li {
    font-size: 1rem;
    font-weight: 600;
  }

  strong {
    font-size: 1rem;
    font-weight: bolder;
    font-size: large;
  }
  /*    FOOTER    */
  footer ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
