@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

:root {
  --background-color: #eee3d3;
  --background-footer-color: #b71818;
  --button-color: #b71818;
}

html {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.4rem 0rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.8rem 0rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.8rem 0rem;
  }

  footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem;
    list-style: none;
    text-align: center;
  }

  li {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

/* MAIN */

.main-container {
  margin: 2rem 1rem 0rem 1rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1 rem;
    font-weight: 600;
    margin: 0.5rem 0rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0rem;
  }

  li {
    font-size: 1rem;
    font-weight: 600;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  /* MAIN */

  .main-container {
    margin: 3rem 1rem 1.5rem 1rem;
  }
}
